# Basic Python

## 1. Split this string

In [7]:
s = "Hi there Sam!"

In [8]:
s

'Hi there Sam!'

In [9]:
s.split()

['Hi', 'there', 'Sam!']

## 2. Use .format() to print the following string. 

### Output should be: The diameter of Earth is 12742 kilometers.

In [10]:
planet = "Earth"
diameter = 12742

In [11]:
print("The diameter of {} is {} kilometer".format(planet,diameter))

The diameter of Earth is 12742 kilometer

## 3. In this nest dictionary grab the word "hello"

In [12]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [13]:
print(d["k1"][3]["tricky"][3]["target"])

[1, 2, 3, 'hello']

# Numpy

In [14]:
import numpy as np

## 4.1 Create an array of 10 zeros? 
## 4.2 Create an array of 10 fives?

In [15]:
a1=np.zeros(10)

In [16]:
print(a1)

[0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]

In [17]:
a2=np.ones(10)*5

In [18]:
print(a2)

[5. 5. 5. 5. 5. 5. 5. 5. 5. 5.]

## 5. Create an array of all the even integers from 20 to 35

In [19]:
a3=np.arange(20,35,2)

In [20]:
print(a3)

[20 22 24 26 28 30 32 34]

## 6. Create a 3x3 matrix with values ranging from 0 to 8

In [21]:
arr4=np.arange(0,9).reshape(3,3)

In [22]:
print(arr4)

[[0 1 2]
 [3 4 5]
 [6 7 8]]

## 7. Concatinate a and b 
## a = np.array([1, 2, 3]), b = np.array([4, 5, 6])

In [23]:
a=np.array([1, 2, 3])
b=np.array([4, 5, 6])

In [24]:
c=np.concatenate((a,b))

In [25]:
print(c)

[1 2 3 4 5 6]

# Pandas

## 8. Create a dataframe with 3 rows and 2 columns

In [26]:
import pandas as pd

In [27]:
x=[10,20,30]

In [29]:
df=pd.DataFrame(x,columns=['numbers'])
df

   numbers
0       10
1       20
2       30

## 9. Generate the series of dates from 1st Jan, 2023 to 10th Feb, 2023

In [30]:
dat=pd.date_range(start='1st Jan 2023',end='10th Feb 2023')

In [31]:
dat

DatetimeIndex(['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04',
               '2023-01-05', '2023-01-06', '2023-01-07', '2023-01-08',
               '2023-01-09', '2023-01-10', '2023-01-11', '2023-01-12',
               '2023-01-13', '2023-01-14', '2023-01-15', '2023-01-16',
               '2023-01-17', '2023-01-18', '2023-01-19', '2023-01-20',
               '2023-01-21', '2023-01-22', '2023-01-23', '2023-01-24',
               '2023-01-25', '2023-01-26', '2023-01-27', '2023-01-28',
               '2023-01-29', '2023-01-30', '2023-01-31', '2023-02-01',
               '2023-02-02', '2023-02-03', '2023-02-04', '2023-02-05',
               '2023-02-06', '2023-02-07', '2023-02-08', '2023-02-09',
               '2023-02-10'],
              dtype='datetime64[ns]', freq='D')

## 10. Create 2D list to DataFrame

lists = [[1, 'aaa', 22],
         [2, 'bbb', 25],
         [3, 'ccc', 24]]

In [32]:
lists = [[1, 'aaa', 22], [2, 'bbb', 25], [3, 'ccc', 24]]

In [33]:
df1=pd.DataFrame(lists,columns=['Number','Name','Age'])
df1

   Number Name  Age
0       1  aaa   22
1       2  bbb   25
2       3  ccc   24